doctype html
html(lang='en')
    include ../components/head.pug
    body
        p Page 1
        include  ../components/template1.pug
        include  ../components/template2.pug
        a(href='../index.html') Back to start page
        img(src='../images/pictures/web.png', alt='WEB')