doctype html
html(lang='en')
   head
      meta(charset='UTF-8')
      meta(name='viewport', content='width=device-width, initial-scale=1.0')
      title
   body
      p Page 1
      include  ../components/template1.jade
      include  ../components/template2.jade
      a(href='../index.html') Back to start page
      img(src='../images/pictures/web.png', alt='WEB')