<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="css/style.css"/>
    <script src="js/bundle.js"></script>
    <!--<script src="js/bundle.min.js"></script>-->
</head>
<body>
<div>Start page</div>
<br/>
<div class="aa"></div>
<br/>
<div class="js-test"></div>
<div class="bb">TEXT</div>
<br/>
<div>
    <button class="js-load-amd">Load dynamic script</button>
</div>
<br/>
<div>
    <a href="Page1.html">Generated page</a>
</div>
</body>
</html>
