doctype html
html(lang='en')
	head
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		title
		link(rel='stylesheet', href='css/style.css')
		script(src='js/bundle.js')
		//script(src='js/bundle.min.js')
	body
		div Start page
		.png-block
			p png icons
			span.png.png_arrow
			span.png.png_arrow-up
			span.png.png_dotted-arrow
		.svg-block
			p svg icons
			span.svg.svg_svg_eg1
			span.svg.svg_svg_eg2
		.js-test
		.bb TEXT
		br
		div
			button.js-load-amd Load dynamic script
		br
		div
			a(href='pages/Page1.html') Generated page