doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        title
        link(rel='stylesheet', href='css/style.css')
        script(src='js/bundle.js')
        //script(src='js/bundle.min.js')
    body
        div Start page
        br
        .aa
        br
        .js-test
        .bb TEXT
        br
        div
            button.js-load-amd Load dynamic script
        br
        div
            a(href='pages/Page1.html') Generated page